# Assignment 1
Emma McCready\
sba23001

---

### Analysis of Ireland's Transport Data

Dataset sources:
* link..
* link 2...


^ implement a project overview/plan like how they do in codecademy projects??

In [ ]:
# Dependencies.. put any packages I install here:
#!pip install pandas==2.1.2
#!pip install ydata_profiling --user

In [1]:
# review this at end to ensure there's no unnecessary packages loaded

import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore') 
from scipy.stats import norm
from scipy.stats import poisson, binom, norm
from scipy.stats import shapiro

# ML libraries
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error,explained_variance_score
from sklearn.model_selection import (GridSearchCV, cross_val_score, cross_val_predict, 
                                     StratifiedKFold, learning_curve, train_test_split)
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from statsmodels.tools.eval_measures import mse, rmse
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.ensemble import RandomForestRegressor

<summary style="color:blue;">

# 1. Data Inspection
    
First, I need to load in the data, and then take a quick look at the data to get a sense of what I'm dealing with. I'm initially interested in what unique columns there are, the data types of the columns,

In [6]:
data1 = pd.read_csv("TCA01.csv")
data1.head(10)

,STATISTIC,STATISTIC Label,TLIST(A1),Year,C02617V03175,Type of Journey,UNIT,VALUE
0,TCA01,Passenger Journeys by Rail (Thousand),1981,1981,-,All journeys,Number,15374.0
1,TCA01,Passenger Journeys by Rail (Thousand),1981,1981,01,Mainline and other services,Number,7379.0
2,TCA01,Passenger Journeys by Rail (Thousand),1981,1981,02,Dublin suburban services,Number,7995.0
3,TCA01,Passenger Journeys by Rail (Thousand),1981,1981,03,DART,Number,NaN
4,TCA01,Passenger Journeys by Rail (Thousand),1981,1981,04,International journeys,Number,NaN
5,TCA01,Passenger Journeys by Rail (Thousand),1982,1982,-,All journeys,Number,12813.0
6,TCA01,Passenger Journeys by Rail (Thousand),1982,1982,01,Mainline and other services,Number,6677.0
7,TCA01,Passenger Journeys by Rail (Thousand),1982,1982,02,Dublin suburban services,Number,6136.0
8,TCA01,Passenger Journeys by Rail (Thousand),1982,1982,03,DART,Number,NaN
9,TCA01,Passenger Journeys by Rail (Thousand),1982,1982,04,International journeys,Number,NaN

Initial thoughts from calling `.head()`:
* STATISTIC and STATISTIC Label columns redundant. UNIT also irrelevant. VALUE column refers to the number of passender journeys by rail in thousands.
* Not sure what TLIST(A1) is, possibly an error from when the data was downloaded from the CSO website? Will have to check if the columns are equal and if so drop one of the columns.
* Similarly, not sure what C02617V03175 refers to - will have to check values, it might just be an index key for the Type of Journey values?

In [5]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATISTIC        210 non-null    object
 1   STATISTIC Label  210 non-null    object
 2   TLIST(A1)        210 non-null    int64
 3   Year             210 non-null    int64
 4   C02617V03175     210 non-null    object
 5   Type of Journey  210 non-null    object
 6   UNIT             210 non-null    object
 7   VALUE            165 non-null    float64
dtypes: float64(1), int64(2), object(5)
memory usage: 13.3+ KB

Initial thoughts from calling `.info()`:
* Missing values in VALUE column.. will need to investigate and decide what to do with them.